{% extends "templates/layout.html" %}
{% block body %}
  <div id="current_courses">
    <p >Current Courses</p>
    {% for course in courses %}
      <p>{{ course }}</p>
    {% endfor %}
  </div>
    <!--FORM -->
  <div id="register">
    <form method="post" action="/user-course">
      <h1>Register</h1>
      <p>Select Course:</p>
      <select id="course" name="course"></select>
      <p>Select Teacher:</p>
      <select id="teacher" name="teacher">
        {% for Teacher in teacher_info %}
          <option> {{ Teacher.name }} </option>
        {% endfor %}
      </select>
      <input type="submit">
    </form>
  </div>

    <script src="scripts/course.js"></script>
{% endblock %}
