{% extends "templates/layout.html" %}
{% block body %}
<div id=courses>
  <h1>Courses</h1>
  <p>Add a course:</p>
    <form method="get" action="/chat">
      <select id="course" name="course">
        <!-- <option>English</option>
        <option>Math</option>
        <option>Science</option>
        <option>Social Studies</option> -->
      </select>
</div>
<div id=teachers>
  <h1>Teachers</h1>
  <p>Add a teacher:</p>
  <!--STEPS
    1. Get the teachers based off the Course
    2. When you get teachers, populate form with teachers  -->
      <select id="teacher" name="teacher">
        <!--for loop -->
      {% for Teacher in teacher_info %}
      <option> {{ Teacher.name }} </option>
      {% endfor %}
      </select>
      <input type="submit">
    </form>
</div>
    <script src="scripts/course.js"></script>
{% endblock %}
