<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Courses</h1>
  <p>Add a course:</p>
    <form method="post" action="/addcourses">
      <select name="course">
        <option>English</option>
        <option>Math</option>
        <option>Science</option>
        <option>Social Studies</option>
      </select>
      <input type="submit">
    </form>

    <h1>Teachers</h1>
  <p>Add a teacher:</p>
    <form method="post" action="/addcourses">
      <select name="teacher">
        <option>Lucy Wilson</option>
        <option>Michael Berg</option>
        <option>David Moffet</option>
        <option>Jeffrey Siker</option>
        <option>Kate Pickert</option>
      </select>
      <input type="submit">
    </form>

  </body>
</html>
