<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel= "stylesheet"
      href = "/styles/study.css">
  </head>
  <body>
    <header>Study Spot</header>
    <section id=menu>Class list here</section>
    <section id=chat>Chat goes here</section>
    <section id=calendar><iframe src="https://calendar.google.com/calendar/embed?src=lion.lmu.edu_dujtesotucnv77fj726mtnnobc%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></section>
    <footer>Study Spot, your online spot for finding study groups</footer>

  </body>
</html>
