<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700" rel="stylesheet">
    <meta charset="utf-8">
    <title>Welcome to Study Spot</title>
    <link rel= "stylesheet"
      href = "/styles/study.css">
    <link rel="icon" href="/media/studyFavicon.png">
  </head>
  <body>
    <header>Study Spot</header>
    <nav>
      <!-- <button onclick="/templates/layout.html">Go home</button> -->
      <a id="login" href="{{ auth_url }}">{{ auth_text }}</a>
    </nav>
    <footer>Study Spot, your online spot for finding study groups
      <div id="email_signout">
        {% if nickname %}
          {{ nickname }} •
        {% endif %}
        <a id="auth" href="{{ auth_url }}">{{ auth_text }}</a>
      </div>
    </footer>

  </body>
  <!-- <script src=loginButton.js></script> -->
</html>
