<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
    <link rel= "stylesheet"
      href = "/styles/study.css">
    <link rel="icon" href="/media/studyFavicon.png">
  </head>
  <body>

    <div>
      {% if nickname %}
        {{ nickname }} •
      {% endif %}
      <a id="auth" href="{{ auth_url }}">{{ auth_text }}</a>
    </div>

    <header id="title">Study Spot</header>

    {% block body %}{% endblock %}
    <footer>Study Spot, your online spot for finding study groups
      <div id="email_signout">
        {% if nickname %}
          {{ nickname }} •
        {% endif %}
        <a id="auth" href="{{ auth_url }}">{{ auth_text }}</a>
      </div>
    </footer>
  </body>
</html>
