{% extends "templates/layout.html" %}
{% block body %}
<body>
  <nav id=signinpage>
    <div id="welcome_text">
        <h1 id="welcome">Welcome <br> Please sign in!</h1>
        <a id="signout_button" href="{{ logout_url }}"><span>Sign Out</span></a>
        <form method="post" action="/addcourses">
            <input class="input_text" type="text" name="name" placeholder="Enter your full name">
            <input class="input_text" type="text" name="username" placeholder="Enter a username">
            <button id="submit_button" type="Submit"><span>Submit</span></button>
        </form>
    </div>
  </nav>
</body>
{% endblock %}
