{% extends "templates/layout.html" %}
{% block body %}

<div id="welcome_text">
    <h1 id="welcome">Welcome {{ username }}! <br> Please sign in!</h1>
    <a id="signout_button" href="{{ logout_url }}"><span>Sign Out</span></a>
    <form method="post" action="/feed">
        <input class="input_text" type="text" name="name" enter_input="Enter your full name">
        <input class="input_text" type="text" name="username" enter_input="Enter a username">
        <button id="submit_button" type="Submit"><span>Submit</span></button>
    </form>
</div>

{% endblock %}
