body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: 170px auto 170px 70px;
  grid-template-columns: 300px auto 400px;
}
header{
  padding: 2%;
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  color: rgb(115,20,29);
  text-shadow: 4px 3px 1px rgb(10,37,100);
  background-color: white;
  font-size: 650%;
  font-family: 'Cabin Sketch', cursive;
  border-bottom: 8px solid navy;

}
footer{
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
  background-color: rgb(115,20,29);
  text-align: center;
  color: white;
  padding-top: 2%;
  font-size: 100%;
}
button, input, #sign_out{
  background-color: rgb(115,20,29);
 border: none;
 color: rgb(235,243,244);
 padding: 10px 20px;
 text-align: center;
 font-size: 16px;
 cursor: pointer;
 margin: 6px 2px 6px 2px;
}

button:hover, input:hover {
 background-color: rgb(155,20,29);
}

#console{
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  padding: 4%;
  border-right: 8px solid navy;
  border-left: 8px solid navy;
  border-bottom: 8px solid navy;
}
#menu{
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: gray;
  border-right: 8px solid navy;
  border-left: 8px solid navy;
 }
#chat{
  margin: 0;
  grid-column: 2 / span 1;
  grid-row:2 / span 2;
  background-color: white;
  color: blue;
  font-size: 110%;
  overflow: scroll;
  border-bottom: 8px solid navy;
}
#calendar{
  grid-column: 3 / span 1;
  grid-row: 2;
  background-color: gray;
  border-right: 8px solid navy;
  border-left: 8px solid navy;
  border-bottom: 8px solid navy;
  white-space: pre-wrap;
  text-align: center;
  font-weight: bold;
}
#users{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background-color: blue;
  border-right: 8px solid navy;
  border-left: 8px solid navy;
}
.textpost{
  margin: 0;
  overflow: auto;
  word-wrap: break-word;
  padding-left: 4%;
  box-shadow: 2px 2px 7px blue;
  border-radius: 2px;
}
#post_author{
  font-size: 150%;
  font-weight: bold;
  color: rgb(155,20,29);

}
#post_time{
  font-size: 70%;

}
#text_box{
  width: 180px;
}
#signout_button{
  display: none;
}
#board, #user_name, #username{
  font-size: 170%;
}
div#textpost{
  background-color: rgb(233,233,233);
}
#user_info, #about{
  font-family: 'Arvo', serif;
}
#about{
  border-left: 8px solid navy;
  border-bottom: 8px solid navy;
  border-right: 8px solid navy;
  padding-left: 15px;
  overflow: scroll;
}
