body {
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: 190px auto 70px;
  grid-template-columns: 200px auto 400px;
}
header{
  padding: 3%;
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: center;
  color: rgb(115,20,29);
  text-shadow: 4px 3px 1px rgb(10,37,100);
  background-color: white;
  font-size: 650%;
  font-family: 'Cabin Sketch', cursive;
  border-bottom: 8px solid navy;
  position: relative;
 }
 body, nav{
   background-image: url("/media/lmu.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   overflow: scroll;
 }
section{
  padding: 10px 10px 10px 10px;
 }
nav{
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: white;
  text-align: center;
  padding-top: 100px;
 }
 nav#signinpage{
   padding-top: 50px;
 }
footer{
  grid-column: 1 / span 3;
  grid-row: 3;
  background-color: rgb(115,20,29);
  text-align: center;
  color: white;
  padding-top: 1%;
  font-size: 100%;
 }
 a#auth {
  color: white;
  text-decoration: none;
 }
 a#login {
  color: black;
  text-decoration: none;
  font-size: 400%;
  padding: 2px 6px 2px 6px;
  border-top: 7px solid navy;
  border-right: 7px solid navy;
  border-bottom: 7px solid navy;
  border-left: 7px solid navy;
 }
 #signout_button{
   font-size: 100%;
   margin-top: 400px;
 }
 #logInButton{
  margin-top: 15%;
  font-size: 300%;
 }
 #welcome_text{
   font-size: 100%;
 }
 
