body {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px auto 50px;
    grid-template-columns: 200px auto 400px;
}
header{
   grid-column: 1 / span 3;
   grid-row: 1;
   text-align: center;
   color: white;
   text-shadow: 2px 2px 4px blue;
   background-color: red;
   font-size: 80px;
 }
section{
   padding: 10px 10px 10px 10px;
 }
nav{
   grid-column: 1 / span 2;
   grid-row: 2;
   background-color: blue;
   text-align: center;
   padding-top: 100px;
 }
footer{
   grid-column: 1 / span 3;
   grid-row: 3;
   background-color: red;
   text-align: center;
 }

 a{
   color: White;
 }

#menu{
   grid-column: 1 / span 1;
   grid-row:2;
   background-color: gray;

 }
#chat{
  grid-column: 2 / span 1;
  grid-row:2;
  background-color: black;
  color: blue;
}
#calendar{
  grid-column: 3 / span 1;
  grid-row: 2;
  background-color: gray;
}
